FLASK_SECRET_KEY=troque-por-uma-chave-grande-e-aleatoria
ADMIN_USERS=petrick
DB_HOST=servidor-mysql-hostgator
DB_USER=usuario_mysql
DB_PASSWORD=senha_mysql
DB_NAME=BROBON39_IBDTEC_PAINEL
R2_ACCOUNT_ID=account_id_cloudflare
R2_ACCESS_KEY_ID=access_key_id_cloudflare
R2_SECRET_ACCESS_KEY=secret_access_key_cloudflare
R2_BUCKET_NAME=jp2-painel-documentos
CARTEIRA_INVESTIMENTOS_URL=
ONESIGNAL_APP_ID=
ONESIGNAL_REST_API_KEY=
